@model FormInterviewProject.Models.Person

<h2>Edit Person</h2>

<form asp-action="EditPerson" asp-route-id="@Model.Id" id="editPersonForm">

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<FormInterviewProject.Models.Gender>()" class="form-control">
            <option value="">Select gender</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Country.CountryId">Country</label>
        <select asp-for="Country.CountryId" asp-items="ViewBag.Countries" class="form-control" id="countryDropdown">
            <option value="">Select a country</option>
        </select>
        <span asp-validation-for="Country.CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State.StateId">State</label>
        <select asp-for="State.StateId" asp-items="ViewBag.States" class="form-control" id="stateDropdown">
            <option value="">Select a state</option>
        </select>
        <span asp-validation-for="State.StateId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City.CityId">City</label>
        <select asp-for="City.CityId" asp-items="ViewBag.Cities" class="form-control" id="cityDropdown">
            <option value="">Select a city</option>
        </select>
        <span asp-validation-for="City.CityId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadStates();

            $('#countryDropdown').change(function () {
                loadStates();
            });

            $('#stateDropdown').change(function () {
                loadCities();
            });

            function loadStates() {
                var selectedCountryId = $('#countryDropdown').val();
                $('#stateDropdown').empty();
                $('#cityDropdown').empty();

                if (selectedCountryId) {
                    $.getJSON('/Person/GetStates', { countryId: selectedCountryId }, function (data) {
                        $.each(data, function (i, state) {
                            $('#stateDropdown').append($('<option>').text(state.name).attr('value', state.id));
                        });
                    });
                }

                loadCities();
            }

            function loadCities() {
                var selectedStateId = $('#stateDropdown').val();
                $('#cityDropdown').empty();

                if (selectedStateId) {
                    $.getJSON('/Person/GetCities', { stateId: selectedStateId }, function (data) {
                        $.each(data, function (i, city) {
                            $('#cityDropdown').append($('<option>').text(city.name).attr('value', city.id));
                        });
                    });
                }
            }
        });
    </script>
}
